@model IEnumerable<AdFinityCRM.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="row mt-2 mb-2">
    <h1 class="text-center text-primary mb-4">Продукти</h1>
    <hr />
</div>

<div class="row">
    <div class="col-lg-2">
        <p>
            <a class="btn btn-block btn-warning" asp-action="Create"><i class="fa fa-plus-circle"></i> Нов продукт</a>
        </p>
    </div>
    <div class="col-lg-4 pl-2">
        <p class="border-left font-weight-bold pl-2 pt-2">
            Общо продукти: @ViewBag.CountOfProducts
        </p>
    </div>
    <div class="col-lg-4 pl-2">
        <p class="border-left font-weight-bold pl-2 pt-2">
            Най-висока цена: @ViewBag.CountOfProducts
        </p>
    </div>
    <div class="col-lg-4 pl-2">
        <p class="border-left font-weight-bold pl-2 pt-2">
            Най-ниска цена: @ViewBag.CountOfProducts
        </p>
    </div>
</div>

<table class="table table-striped mt-4">
    <thead class="bg-primary">
        <tr>
            <th>
                <h5 class="text-white">Име</h5>
            </th>
            <th>
                <h5 class="text-white">Категория</h5>
            </th>
            <th>
                <h5 class="text-white">Артикулен номер</h5>
            </th>
            <th>
                <h5 class="text-white">МЕ</h5>
            </th>
            <th>
                <h5 class="text-white">Ед. цена</h5>
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ArticleNumber)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PriceForUnit)
                </td>
                <td>
                    <a class="btn btn-warning rounded" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i></a> |
                    <a class="btn btn-info rounded" asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-info-circle"></i></a> |
                    <a class="btn btn-danger rounded" asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
